<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>



			<div class="card-body ">

				<h4 class="card-title">

					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}" class="btn btn-primary btn-xs"
					th:text="#{text.cliente.form.titulo.crear}"> Crear
						cliente </a> 
						
						<a class="btn btn-outline-success btn-xs float-right mx-1"
						th:href="@{'/listar'(format=json)}"> JSON </a>
						
					
						
				</h4>
				
				<div th:if="${clientes.isEmpty()}">No hay usuario en la lista</div>
				<table class="table table-striped" th:if="${!clientes.isEmpty()}">
					<thead>
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">Id</th>
							<th th:text="#{text.cliente.nombre}">Nombre</th>
							<th th:text="#{text.cliente.apellido}">Apellido</th>
							<th th:text="#{text.cliente.email}">Email</th>
							<th th:text="#{text.cliente.createAt}">Fecha</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.crear}" >Crear factura</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.form.titulo.editar}">Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.factura.form.item.eliminar}">Borrar</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td sec:authorize="hasRole('ROLE_USER')"><a th:text="${cliente.id}"
								th:href="@{/ver}+'/'+${cliente.id}"> </a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createdAt}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-secondary"
								th:href="@{/factura/form}+'/'+${cliente.id}" th:text="#{text.cliente.factura.crear}" >Crear factura <span
									class="sr-only">(current)</span></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary"
								th:href="@{/form}+'/'+${cliente.id}" th:text="#{text.cliente.form.titulo.editar}">Editar <span
									class="sr-only">(current)</span></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><button class="btn btn-danger"
									th:data-href="@{/borrar}+'/'+${cliente.id}" data-toggle="modal"
									data-target="#confirm-delete" th:text="#{text.factura.form.item.eliminar}">Borrar</button></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator :: paginator"></nav>
			</div>
		</div>

		<div th:replace="layout/layoutDialog :: dialog"></div>

	</div>
	<script>
		$('#confirm-delete').on(
				'show.bs.modal',
				function(e) {
					$(this).find('.btn-ok').attr('href',
							$(e.relatedTarget).data('href'));

				});

		$(document).ready(function() {
			console.log("ready!");
			$('#navCliente').addClass('active');

		});
	</script>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>