<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="layout/layout :: head">

</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<h4 class="card-title">

					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs"
						th:href="@{/factura/form}+'/'+${cliente.id}" th:text="#{text.factura.form.titulo}"> Crear factura </a>
				</h4>

				<img style="max-width: 25%;"
					th:if="${#strings.length(cliente.foto)>0}"
					class="img-thumbnail rounded float-left"
					th:src="@{'/uploads/'+${cliente.foto}}">
				<ul class="list-group">
					<li class="list-group-item" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createdAt}"></li>

				</ul>

				<div class="alert alert-info" th:if="${cliente.facturas.isEmpty()}"
					th:text="'No hay facturas relacionadas al cliente'"></div>
				<table class="table table-bordered table-spreiped my-4">
					<thead class="thead-dark">
						<tr>
							<th th:text="#{text.cliente.factura.folio}">Id</th>
							<th th:text="#{text.cliente.factura.descripcion}">Descripcion</th>
							<th th:text="#{text.cliente.factura.fecha}">Fecha</th>
							<th th:text="#{text.cliente.factura.total}">Total</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.factura.ver.datos.factura}">Ver</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.factura.form.item.eliminar}">Borrar</th>
						<tr>
					</thead>

					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
								
							<td th:text="${factura.id}"></td>
							<td th:text="${factura.descripcion}"></td>
							<td th:text="${factura.createAt}"></td>
							<td th:text="${factura.total}"></td>
							<td>
								<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info btn-xs"
						th:href="@{/factura/ver/}+''+${factura.id}" th:text="#{text.factura.ver.datos.factura}"> Ver factura </a>
							</td>
							
							<td><button  sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger"
									th:data-href="@{/factura/eliminar/}+''+${factura.id}" data-toggle="modal"
									data-target="#confirm-delete" th:text="#{text.cliente.factura.eliminar}">Borrar</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	

	</div>
	
	<div th:replace="layout/layoutDialog :: dialog"></div>
	<script>
		$('#confirm-delete').on(
				'show.bs.modal',
				function(e) {
					$(this).find('.btn-ok').attr('href',
							$(e.relatedTarget).data('href'));

				});
	</script>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>